[flake8]
# Code style config
max-line-length = 90

# Excluding
exclude = tests/*, .venv, dist, build, __pycache__, .tox

# Output config
show-source = False
statistics = True
tee = True
output-file = .flake8.log
